.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #ecf0f1;
}

.main-container {
    margin-top: 8em;
}

@media (min-width: 768px) and (max-width: 992px){
    .main-container {
        margin-top: 12em;
    }
}
